{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <title>{{titulo_pagina1}}</title>
    </head>
    <body>
        <div id = "header">
            <div class = "recuadro">
                <div class="menu-1">
                    <a href="{% url 'listaproyectos' %}">      Inicio       </a>
                    <a href="https://www.djangoproject.com/">      Información  </a>
                    <a href= "">     Contacto     </a>
                </div>
            </div>
            <div class = "recuadro">
                    <h1>
                        {{titulo_pagina}}
                    </h1>
            </div>
            <div id = "menu-2">
                <ul class="nav">
                    <li><a href="">PROYECTOS</a>
                    <ul>
                        <li><a href="{% url 'creador_proyecto' %}">NUEVO PROYECTO</a></li>
                        <li><a href="{% url 'listaproyectos' %}">GESTIONAR PROYECTOS</a></li>
                    </ul>
                    </li>
                    <li><a href="">TAREAS</a>
                        <ul>
                            <li><a href="{% url 'creador_tarea' %}">NUEVA TAREA</a></li>
                            <li><a href="{% url 'listatareas' %}">VER TAREAS</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'listaempleados' %}">GESTIONAR EMPLEADOS</a></li>
                </ul>
            </div>
        </div>
        {% block contenido %}   {% endblock %}
        <div class="ayudafooter">
                <footer>
                    <div class="tfooter">
                        <p >Posted by: Asier Velasco, Asís Pinedo, Miguel Orti</p>
                        <p >Correo de contacto: <a href="mailto:someone@example.com">ejemplo@ejemplo.es</a>.</p>
                        <p >Tlf de contacto: 66666666</p>
                        <div class="ayudafooter" id ="iconosfooter">
                            <a href="instagram.com/dxtmarias/?hl=es"><img alt="logo instagram" src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-instagram-social-media-icon-design-template-vector-png-image_3654775.jpg" style="width:50px;height:50px;"></a>
                            <a href="https://es-es.facebook.com/pg/dxtmarias/posts/?ref=page_internal"><img alt="logo facebook" src="https://st2.depositphotos.com/1144386/7770/v/450/depositphotos_77705004-stock-illustration-original-square-with-round-corners.jpg" style="width:50px;height:50px;"></a>
                        </div>
                    </div>
                </footer>
        </div>
    </body>
</html>