{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Aquí irá el título</title>
    </head>
    <body>
        <header>
            <h1>Aquí irá la cabezera</h1>
            <nav>
                <ul>
                    </li>
                    <li style="display: inline;">
                        <a href="{% url 'lista_empleados' %}">Lista de empleados</a>
                    </li>
                    <li style="display: inline;">
                        <a href="{% url 'crear_empleado' %}">Crear empleado</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>{{ titulo_pagina }}</h2>
            {% block contenido %}
            {% endblock %}
        </main>
        <footer>
            <p>Aquí irá el footer</p>
        </footer>
    </body>
</html>