{% extends 'base.html' %}
{% load static %}

{% block contenido %}
        <div id = "page">
            <div id = "page_text">
                <h2>CLIENTE</h2>

            <br>

            Esta es la información de nuestro cliente.

            </div>

            <div id= "tabla">
                <table class="tablapla">
                    <tr>
                        <th class="tittabla">ID</th>
                        <th class="tittabla">Nombre</th>
                        <th class="tittabla">Modificar</th>
                        <th class="tittabla">Eliminar</th>
                    </tr>
                    <tr>
                        <td class="comptab">{{ cliente.id }}</td>
                        <td class="comptab">{{ cliente.nombre }}</td>
                        <td class="comptab"><a href="{% url 'clienteUpdateView' cliente.id %}" class= "boton_borrar">
                            <img src="{% static 'editar.jpg' %}"></a></td>
                        <td class="comptab"><a href="{% url 'clienteDeleteView' cliente.id %}" class= "boton_borrar">
                            <img src="{% static 'borrar.jpg' %}"></a></td>
                    </tr>
                </table>
                <div><center><a href="{% url 'listaclientes' %}">Volver a la lista de Clientes</a></center></div>
            </div>
        </div>

{% endblock %}