{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div id="page">
    <div id = "page_text">
        <form action="{% url 'crear_tarea' %}" method="post">
            {% csrf_token %}
            <div class="columna1">
                <div id="formulario">
                    Nombre
                </div>
                <input class="formulario_input" type="text" name="nombre"><br>
                <div id="formulario">
                    Descrípción
                </div>
                <textarea class="formulario_input" type="text" name="descripcion"></textarea><br>
                <div id="formulario">
                    Fecha de inicio
                </div>
                <input class="formulario_input" type="date"  name="inicio"><br>
                <div id="formulario">
                    Fecha fin
                </div>
                <input class="formulario_input" type="date" name="fin"><br>
                <div id="formulario">
                    Responsable
                </div>
                <select id="select_responsable" name="responsable" multiple required>
                    {% for emp in listaempleados %}
                    <option value="{{ emp.id }}"> {{ emp.nombre}}  {{ emp.apellido }}</option>
                    {% endfor %}
                </select>
                <div id="formulario">
                    Nivel de prioridad
                </div>
                <input class="formulario_input" type="text" name="prioridad"><br>
                <div id="formulario">
                    Estado de la tarea
                </div>
                <input class="formulario_input" type="text" name="estado"><br>
                <div id="formulario">
                    Notas adicionales
                </div>
                <input class="formulario_input" type="text" name="notas"><br>
            </div>
            <div><center><input type="submit" value="Nueva tarea" /></center></div>
            <div><center><a href="{% url 'listatareas' %}">Volver a la lista de tareas</a></center></div>
        </form>
    </div>
</div>

{% endblock %}