{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div id="page">
    <div id = "page_text">
        <form id="formu"  >
            {% csrf_token %}

            <h2>NUEVO CLIENTE</h2>

            <div class="columna1">
                <div id="formulario">
                    NOMBRE
                </div>
                <input class="formulario_input" type="text" id="nombre" name="nombre"><br>
            </div>
            <div><center><button >Crear cliente</button></center></div>
            <div><center><a href="{% url 'listaclientes' %}">Volver a la lista de clientes</a></center></div>
        </form>
        <div><center><p  id ="exito"></p></center></div>
    </div>
</div>
<script>
    document.getElementById("formu").addEventListener("submit", Crearobj)
    function Crearobj(event) {
    event.preventDefault()
    var elnombre = document.getElementById('nombre').value;
    var esto=new FormData(document.getElementById("formu"))
     fetch('http://127.0.0.1:8000/appEmpresaDjango/clientes/', {
     method :'POST',

        body :
        esto
            })
            .then(response => response.json())
            .then(json => console.log(json))
            var p=document.getElementById('exito')
            var text = document.createTextNode("Se ha creado el cliente correctamente");

p.appendChild(text);
    }
</script>
{% endblock %}