{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div id="page">
    <div id = "page_text">
        <form action="{% url 'crear_tarea' %}" method="post">
            {% csrf_token %}

            <h2>NUEVA TAREA</h2>

            <div class="columna1">
                <div id="formulario">
                    NOMBRE
                </div>
                <input class="formulario_input" type="text" name="nombre"><br>
                <div id="formulario">
                    DESCRIPCIÓN
                </div>
                <textarea class="formulario_input" type="text" name="descripcion"  rows="4" cols="50"></textarea><br>
                <div id="formulario">
                    FECHA DE INICIO
                </div>
                <input class="formulario_input" type="date"  name="inicio"><br>
                <div id="formulario">
                    FECHA FIN
                </div>
                <input class="formulario_input" type="date" name="fin"><br>
                <div id="formulario">
                    RESPONSABLE
                </div>
                <select id="select_responsable" name="responsable" >
                    {% for a in listaempleados %}
                    <option value="{{ a.id }}"> {{ a.nombre}}  {{ a.apellido }}</option>
                    {% endfor %}
                </select>
                <div id="formulario">
                    NIVEL DE PRIORIDAD
                </div>
                <input class="formulario_input" type="text" name="prioridad"><br>
                <div id="formulario">
                    ESTADO DE LA TAREA
                </div>
                <select id="select_responsable" name="estado" >
                    <option value="Abierta">Abierta </option>
                    <option value="Asignada">Asignada </option>
                    <option value="En proceso">En proceso </option>
                    <option value="Finalizada">Finalizada </option>
                </select>
                <div id="formulario">
                    NOTAS ADICIONALES
                </div>
                <textarea class="formulario_input" type="text" name="notas" rows="4" cols="50"></textarea><br>
                <div id="formulario">
                    PROYECTO
                </div>
                <select id="select_proyecto" name="proyecto" >
                    {% for a in listaproyectos %}
                    <option value="{{ a.id }}"> {{ a.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div><center><input type="submit" value="Nueva tarea" /></center></div>
            <div><center><a href="{% url 'listatareas' %}">Volver a la lista de tareas</a></center></div>
        </form>
    </div>
</div>

{% endblock %}