{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div id="page">
    <div id = "page_text">
        <form action="{% url 'crear_proyecto' %}" method="POST">
            {% csrf_token %}


            <h2>NUEVO PROYECTO</h2>

            <div class="columna1">
                <div id="formulario">
                    Nombre
                </div>
                <input class="formulario_input" type="text" name="nombre"><br>
                <div id="formulario">
                    Descripción
                </div>
                <textarea class="formulario_input" type="text" name="descripcion"></textarea><br>
                <div id="formulario">
                    Inicio
                </div>
                <input class="formulario_input" type="date" name="inicio"><br>
                <div id="formulario">
                    Fin
                </div>
                <input class="formulario_input" type="date" name="fin"><br>
                <div id="formulario">
                    Presupuesto
                </div>
                <input class="formulario_input" type="number" name="presupuesto"><br>
                <div id="formulario">
                    Cliente
                </div>
                <select id="select_cliente" name="cliente" >
                    {% for a in listaclientes %}
                    <option value="{{ a.id }}"> {{ a.nombre}}</option>
                    {% endfor %}
                </select>
                <div id="formulario">
                    Empleados que participan
                </div>
                <select id="select_empleados" name="empleados" multiple required>
                    {% for emp in listaempleados %}
                    <option value="{{ emp.id }}"> {{ emp.nombre}}  {{emp.apellido}}</option>
                    {% endfor %}
                </select>
            </div>
            <div><center><input type="submit" value="Nuevo proyecto" /></center></div>
            <div><center><a href="{% url 'listaproyectos' %}">Volver a la lista de proyectos</a></center></div>
        </form>
    </div>
</div>

{% endblock %}

