{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div id="page">
    <div id = "page_text">
        <form id="formu"  >
            {% csrf_token %}
            <div class="columna1">
                <div id="formulario">
                    Nombre
                </div>
                <input class="formulario_input" type="text" id="nombre" name="nombre"><br>
            </div>
            <div><center><button >Crear cliente</button></center></div>
            <div><center><a href="{% url 'listaclientes' %}">Volver a la lista de clientes</a></center></div>
        </form>
    </div>
</div>
<script>
    document.getElementById("formu").addEventListener("submit", Crearobj)
    function Crearobj(event) {
    event.preventDefault()
    var elnombre = document.getElementById('nombre').value;
    var esto=new FormData(document.getElementById("formu"))
     fetch('http://127.0.0.1:8000/appEmpresaDjango/clientes/', {
     method :'POST',

        body :
        esto
            })
            .then(response => response.json())
            .then(json => console.log(json))

        var para = document.createElement("p");
    var node = document.createTextNode("Se ha añadido el cliente correctamente");
    para.appendChild(node);
    var element = document.getElementById("page_text");
    element.appendChild(para);
    }
</script>
{% endblock %}