{% extends 'base.html' %}

{% block contenido %}

        <div id = "page">
            <div id = "page_text">

               Todos los proyectos activos son los siguientes.

            </div>

            <div id= "tabla">
                <table class="tablapla">
                    <tr>
                        <th class="tittabla">PROYECTOS</th>
                        <th class="tittabla">RESPONSABLE</th>
                        <th class="tittabla">TAREAS PENDIENTES</th>
                        <th class="tittabla">FECHA LÍMITE</th>
                    </tr>
                    {% for a in lista_proyectos %}
                        <tr>
                            <td class="comptab">{{ a.nombre }}</td>
                            <td class="comptab">{{ a.empleados }}</td>
                            <td class="comptab">{{ a.tareas }}</td>
                            <td class="comptab">{{ a.fin }}</td>
                            <td class="comptab">
                                <div class="boton_borrar">
                                    <a href="{% url 'proyectoun' a.id %}"><img  src="https://images.vexels.com/media/users/3/143356/isolated/lists/64e14fe0195557e3f18ea3becba3169b-busqueda-de-lupa.png" alt="botón de info"></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

{% endblock %}