{% extends 'base.html' %}
{% load static %}

{% block contenido %}
        <div id = "page">
            <div id = "page_text">

               Todos las tareas actuales son los siguientes.

            </div>

            <div id= "tabla">
                <table class="tablapla">
                    <tr>
                        <th class="tittabla">Nombre</th>
                        <th class="tittabla">Fecha de inicio</th>
                        <th class="tittabla">Fecha fin</th>
                        <th class="tittabla">Acciones</th>
                    </tr>
                    {% for a in lista_tareas %}
                        <tr>
                            <td class="comptab">{{ a.nombre }}</td>
                            <td class="comptab">{{ a.inicio }}</td>
                            <td class="comptab">{{ a.fin }}</td>
                            <td class="comptab"><a href="{% url 'tareaun' a.id %}">Leer</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


{% endblock %}