{% extends 'base.html' %}

{% block contenido %}

<table>
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for a in lista_empleado %}
        <tr>
            <td>{{ a.dni }}</td>
            <td>{{ a.nombre }}</td>
            <td>{{ a.apellido }}</td>
            <td><a href="{% url 'empleadoun' a.id %}">Leer</a></td>
            <td><a href="{% url 'modificar_empleado' a.id %}">Modificar</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}