{% extends 'base.html' %}
{% load static %}

{% block contenido %}
        <div id = "page">
            <div id = "page_text">

                <h2>CLIENTES</h2>


            </div>

            <div id= "tabla">
                <table class="tablapla">
                    <tr>
                        <th class="tittabla">ID</th>
                        <th class="tittabla">Nombre </th>
                        <th class="tittabla">Ver más</th>
                    </tr>
                    {% for a in lista_clientes %}
                        <tr>
                            <td class="comptab">{{ a.id }}</td>
                            <td class="comptab">{{ a.nombre }}</td>
                            <td class="comptab">
                                <a href="{% url 'proyectoun' a.id %}" class= "boton_borrar">
                                    <img src="{% static 'ojo.png' %}">
                                </a> 
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div><center><a href="{% url 'creador_cliente' %}">Añadir un cliente</a></center></div>
        </div>


{% endblock %}