{% extends 'base.html' %}

{% block contenido %}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proyecto in lista_proyectos %}
        <tr>
            <td>{{ proyecto.nombre }}</td>
            <td>{{ proyecto.inicio }}</td>
            <td>{{ proyecto.fin }}</td>
            <td><a href="{% url 'proyecto' proyecto.id %}">Leer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}