{% extends 'base.html' %}

{% block contenido %}

<table>
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in lista_empleados %}
        <tr>
            <td>{{ empleado.dni }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td><a href="{% url 'empleado' empleado.id %}">Leer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}