{% extends 'base.html' %}
{% load static %}

{% block contenido %}
        <script>
            var SERVICE_URL="http://127.0.0.1:8000/appEmpresaDjango/clientes/"
            function loadDatamas() {
                fetch(SERVICE_URL)
                    .then((response) => response.json())
                    .then((json) => {
                      for (let element of json) {
                       var otraurl="http://127.0.0.1:8000/appEmpresaDjango/cliente/"
                      otraurl=otraurl+element.id
                      var variable='<td class="comptab">'+element.id+'</td ><td class="comptab">'+element.nombre+'</td><td class="comptab"><a id="enlace" href='+otraurl+' class= "boton_borrar"><img src="{% static 'ojo.png' %}"></td>'
                        document.getElementById("latabla").insertRow(-1).innerHTML =variable
                        }
                    });
            }


            loadDatamas();

        </script>
        <div id = "page">
            <div id = "page_text">
                <h2>CLIENTES</h2>
            </div>
            <div id= "tabla">
                <table id="latabla" class="tablapla">
                    <tr>
                        <th class="tittabla">ID</th>
                        <th class="tittabla">Nombre </th>
                        <th class="tittabla">Ver más</th>
                    </tr>

                </table>
            </div>
            <div><center><a href="{% url 'creador_cliente' %}">Añadir un cliente</a></center></div>
        </div>


{% endblock %}