{% extends 'base.html' %}

{% block contenido %}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if lista_tareas %}
            {% for tarea in lista_tareas %}
            <tr>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.inicio }}</td>
                <td>{{ tarea.fin }}</td>
                <td><a href="{% url 'tareaun' tarea.id %}">Leer</a></td>
            </tr>
            {% endfor %}
        {% else %}
        <p>No hay tareas en la lista.</p>
        {% endif %}
    </tbody>
</table>

{% endblock %}