{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div id="page">
    <div id = "page_text">
        <form action="{% url 'empleadosUpdateView' empleado.id %}" method="post">
            {% csrf_token %}
            <div><center>{{form.as_p}}</center></div>
            <div><center><input type="submit" value="Actualizar empleado" /></center></div>
            <div><center><a href="{% url 'listaempleados' %}">Volver a la lista de empleados</a></center></div>
        </form>
    </div>
</div>

{% endblock %}