{% extends 'base.html' %}

{% block contenido %}


        <div id = "page">
            <div id = "page_text">
                <div class="columna1">
                    <div id="formulario">
                        ID del proyecto
                    </div>
                    <input class="formulario_input" type="text" value="{{ proyecto.id }}">  <br>
                    <div id="formulario">
                        Nombre del proyecto
                    </div>
                    <input class="formulario_input" type="text" value="{{ proyecto.nombre }}">  <br>
                    <div id="formulario">
                        Fecha de inicio
                    </div>
                    <input class="formulario_input" type="text" value="{{ proyecto.inicio }}">   <br>
                    <div id="formulario">
                        Fecha límite
                    </div>
                    <input class="formulario_input" type="text"value="{{ proyecto.fin }}">
                </div>
                <div class="columna2">

                    <div id="formulario">
                        Cliente
                    </div>
                    <input class="formulario_input" type="text"value="{{ proyecto.cliente }}">  <br>
                    <div id="formulario">
                        Presupuesto
                    </div>
                    <input class="formulario_input" type="text" value="{{ proyecto.presupuesto }}">   <br>
                    <div id="formulario">Empleados</div>
                    <input class="formulario_input" type="text"value="{{ proyecto.empleados }}">   <br>
                    <textarea class="formulario_input2" name="textarea" >{{ proyecto.descripcion }}</textarea>
                    <div id="formulario">Tareas</div>
                    <input class="formulario_input" type="text"value="{{ proyecto.tareas }}">
                </div>

            </div>
            <div><center><a href="{% url 'listaproyectos' %}">Volver a la lista de proyectos</a></center></div>


        </div>
{% endblock %}