{% extends 'base.html' %}
{% load static %}

{% block contenido %}
        <div id = "page">
            <div id = "page_text">
                <div id= "tabla">
                    <table class="tablapla">
                        <thead>
                            <tr>
                                <th class="tittabla">Nombre</th>
                                <th class="tittabla">Descripcion</th>
                                <th class="tittabla">Fecha de inicio y final</th>
                                <th class="tittabla">Presupuesto</th>
                                <th class="tittabla">Cliente</th>
                                <th class="tittabla">Empleados</th>
                                <th class="tittabla">Editar</th>
                                <th class="tittabla">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="comptab">{{ proyecto.nombre }}</td>
                                <td class="comptab">{{ proyecto.descripcion }}</td>
                                <td class="comptab">{{ proyecto.inicio }}  -  {{ proyecto.fin }}</td>
                                <td class="comptab">{{ proyecto.presupuesto }}</td>
                                <td class="comptab">{{ proyecto.cliente }}</td>
                                <td class="comptab">{{ proyecto.empleados }}</td>
                                <td class="comptab"><a href="{% url 'actualizar_proyecto' proyecto.id %}">Actualizar</a> </td>
                                <td class="comptab"><a href="{% url 'eliminar_proyecto' proyecto.id %}">Borrar</a> </td>
                            </tr>
                        </tbody>
                    </table>
                    <div><center><a href="{% url 'listaproyectos' %}">Volver a la lista de proyectos</a></center></div>
                </div>
            </div>
        </div>
{% endblock %}