{% extends 'base.html' %}
{% load static %}

{% block contenido %}
        <div id = "page">
            <div id = "page_text">

                <h2>PROYECTO</h2>

                <div id= "tabla">

                    <table class="tablapla">
                        <thead>
                            <tr>
                                <th class="tittabla">ID</th>
                                <th class="tittabla">Nombre</th>
                                <th class="tittabla">Descripcion</th>
                                <th class="tittabla">Fecha de inicio y fin</th>
                                <th class="tittabla">Presupuesto</th>
                                <th class="tittabla">Cliente</th>
                                <th class="tittabla">Empleados</th>
                                  <th class="tittabla">EDITAR</th>
                                <th class="tittabla">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="comptab">{{ proyecto.id }}</td>
                                <td class="comptab">{{ proyecto.nombre }}</td>
                                <td class="comptab">{{ proyecto.descripcion }}</td>
                                <td class="comptab">{{ proyecto.inicio }}  -  {{ proyecto.fin }}</td>
                                <td class="comptab">{{ proyecto.presupuesto }}</td>
                                <td class="comptab">{{ proyecto.cliente }}</td>
                                <td class="comptab">{{empleados}}</td>
                                <td class="comptab"><a href="{% url 'actualizar_proyecto' proyecto.id %}" class= "boton_borrar">
                                    <img src="{% static 'editar.jpg' %}"></a> </td>
                                <td class="comptab"><a href="{% url 'eliminar_proyecto' proyecto.id %}" class= "boton_borrar">
                                    <img src="{% static 'borrar.jpg' %}"></a> </td>
                            </tr>
                        </tbody>
                    </table>

                    <hr>
                    <hr>
                    <center>TAREAS</center>
                    <hr>
                    <hr>

                    <table class="tablapla">
                        <tr>
                            <th class="tittabla">ID</th>
                            <th class="tittabla">Nombre </th>
                            <th class="tittabla">Descripción</th>
                            <th class="tittabla">Fecha de inico</th>
                            <th class="tittabla">Fecha fin</th>
                            <th class="tittabla">Responsable</th>
                            <th class="tittabla">Estado de la tarea</th>
                            <th class="tittabla">Notas adicionales</th>
                            <th class="tittabla">Proyecto</th>
                            <th class="tittabla">Editar</th>
                            <th class="tittabla">Eliminar</th>
                        </tr>
                    {%for tarea in tareas%}
                        {%if tarea.proyecto.id == proyecto.id%}
                        <tr>
                            <td class="comptab">{{ tarea.id }}</td>
                            <td class="comptab">{{ tarea.nombre }}</td>
                            <td class="comptab">{{ tarea.descripcion }}</td>
                            <td class="comptab">{{ tarea.inicio }}</td>
                            <td class="comptab">{{ tarea.fin }}</td>
                            <td class="comptab">{{ tarea.responsable }}</td>
                            <td class="comptab">{{ tarea.estado }}</td>
                            <td class="comptab">{{ tarea.notas }}</td>
                            <td class="comptab">{{ tarea.proyecto }}</td>
                            <td class="comptab"><a href="{% url 'actualizar_tarea' tarea.id %}" class= "boton_borrar">
                                <img src="{% static 'editar.jpg' %}"></a></td>
                            <td class="comptab"><a href="{% url 'eliminar_tarea' tarea.id %}" class= "boton_borrar">
                                <img src="{% static 'borrar.jpg' %}"></a></td>
                        </tr>
                        {%endif%}
                    {%endfor%}
                    </table>
                    <div><center><a href="{% url 'listaproyectos' %}">Volver a la lista de proyectos</a></center></div>
                    <br>
                </div>
            </div>
        </div>
{% endblock %}