{% extends 'base.html' %}
{% load static %}

{% block contenido %}
        <div id = "page">
            <div id = "page_text">

            Esta es la información de la tarea

            </div>

            <div id= "tabla">
                <table class="tablapla">
                    <tr>
                        <th class="tittabla">ID</th>
                        <th class="tittabla">Nombre </th>
                        <th class="tittabla">Descripción</th>
                        <th class="tittabla">Fecha de inico</th>
                        <th class="tittabla">Fecha fin</th>
                        <th class="tittabla">Responsable</th>
                        <th class="tittabla">Estado de la tarea</th>
                        <th class="tittabla">Notas adicionales</th>
                        <th class="tittabla">Proyecto</th>
                        <th class="tittabla">Modificar</th>
                        <th class="tittabla">Eliminar</th>
                    </tr>
                    <tr>
                        <td class="comptab">{{ tarea.id }}</td>
                        <td class="comptab">{{ tarea.nombre }}</td>
                        <td class="comptab">{{ tarea.descripcion }}</td>
                        <td class="comptab">{{ tarea.inicio }}</td>
                        <td class="comptab">{{ tarea.fin }}</td>
                        <td class="comptab">{{ tarea.responsable }}</td>
                        <td class="comptab">{{ tarea.estado }}</td>
                        <td class="comptab">{{ tarea.notas }}</td>
                        <td class="comptab">{{ tarea.proyecto }}</td>
                        <td class="comptab"><a href="{% url 'actualizar_tarea' tarea.id %}">MODIFICAR</a></td>
                        <td class="comptab"><a href="{% url 'eliminar_tarea' tarea.id %}">ELIMINAR</a></td>
                    </tr>
                </table>
                <div><center><a href="{% url 'listatareas' %}">Volver a la lista de tareas</a></center></div>
            </div>
        </div>

{% endblock %}